@charset "UTF-8";
.q {
  height: 40px;
}

.q li {
  margin-left: 80px;
  /*list-style-type:none;*/
  display: inline-block;
  padding-top: 0;
  /*position: relative;*/
}

#qList {
  padding: 0;
}

#qList > li {
  padding-top: 0px;
  /*position:relative;*/
}

#qList ul {
  /*top:-10px;*/
  /*position:absolute;*/
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ac-custom {
  /*padding: 0 3em;*/
  max-width: 900px;
  margin: 0;
}

.ac-custom h2 {
  font-size: 3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0 0 30px;
}

.ac-custom ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}

.ac-custom li, .ac-custom ol {
  margin: 0;
  padding: 10px 0;
  margin-left: 20px;
  position: relative;
}

.ac-custom label {
  display: inline-block;
  position: relative;
  font-size: 1.5em;
  padding: 0 0 0 40px;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.ac-custom input[type="checkbox"], .ac-custom input[type="radio"] {
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
}

.ac-custom label::before {
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
}

.ac-custom input[type="checkbox"], .ac-custom input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.ac-custom label::before {
  content: '';
  border: 4px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ac-radio label::before {
  /*border-radius: 50%;*/
}

.ac-custom input[type="checkbox"]:checked + label, .ac-custom input[type="radio"]:checked + label {
  color: black;
}

.ac-custom input[type="checkbox"]:checked + label::before, .ac-custom input[type="radio"]:checked + label::before {
  opacity: 1.0;
}

.ac-custom svg {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -20px;
  left: 0px;
  pointer-events: none;
}

.ac-custom svg path {
  stroke: #ff3300;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

/* General SVG and path styles */
/* Specific input, SVG and path styles */
/* Circle */
.ac-circle input[type="checkbox"], .ac-circle input[type="radio"] {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  left: 10px;
  position: absolute;
}

.ac-circle label::before {
  width: 30px;
  height: 30px;
  margin-top: -15px;
  left: 10px;
  position: absolute;
  background-color: #fff;
  border: none;
}

.ac-circle svg {
  width: 70px;
  height: 70px;
  margin-top: -35px;
  left: -10px;
}

.ac-circle svg path {
  stroke-width: 5px;
}

/* Box Fill */
.ac-boxfill svg path, .ac-swirl svg path {
  stroke-width: 8px;
}

/* Swirl */
/* List */
.ac-list ol {
  list-style: decimal;
  list-style-position: inside;
}

.ac-list ol li {
  font-size: 2em;
  padding: 1em 1em 0 2em;
  text-indent: -40px;
}

.ac-list ol li label {
  font-size: 1em;
  text-indent: 0;
  padding-left: 30px;
}

.ac-list label::before {
  display: none;
}

.ac-list svg {
  width: 100%;
  height: 80px;
  left: 0;
  top: 1.2em;
  margin-top: 0px;
}

.ac-list svg path {
  stroke-width: 4px;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  section {
    font-size: 80%;
  }
}

html {
  height: 100%;
}

body {
  font-family: "Cinzel Decorative", cursive, "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;
  background-color: black;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  background-image: url("../img/mo15.png");
}

body > #contents {
  height: auto;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  width: 800px;
  /**/
  margin-right: auto;
  margin-left: auto;
}

body #main {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 800px;
  height: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  background-image: url("../img/old-pape_L.png");
  background-repeat: no-repeat;
  /*background-color:rgba(255,255,255,0.7);*/
  /*background-color:red;*/
}

#questions {
  padding-top: 0px;
  width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  /*font-family: $mainFont;*/
}

#questions #submit {
  margin-top: 20px;
}

#footer {
  color: white;
  text-align: center;
  /*font-family: 'Cinzel Decorative', cursive;*/
}

h1 {
  /*font-family: 'Cinzel Decorative', cursive;*/
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}

form {
  margin-bottom: 0px;
  padding: 5px;
}

.button {
  color: #564539;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  padding: 5px 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.button:hover {
  background: #564539;
  color: #fff;
}

.intro {
  margin: 0;
}

.intro .round {
  -moz-border-radius: 15.4px;
  -webkit-border-radius: 15.4px;
  -khtml-border-radius: 15.4px;
  border-radius: 15.4px;
  font-size: 12.6px;
  padding: 1.4px 7px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

input[type="text"], input[type="number"] {
  border: 0;
  padding: 10px;
  font-size: 1.3em;
  color: #666;
  border: solid 1px #ccc;
  margin: 0px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
}

input[type="text"] {
  width: 10em;
}

input[type="number"] {
  width: 6em;
}

input[type="text"]:focus, input[type="number"]:focus {
  border: solid 1px #EEA34A;
}
