@mixin base_element($time:0.5s){
  -webkit-transition: $time;
     -moz-transition: $time;
     -o-transition: $time;
     -ms-transition: $time;
     transition: $time;
     background: $alphaWhite;     
}
@mixin hover_design{
  background:$koge;
  color:#fff;
}
.button {
  /*バルーン*/
  position:relative;
  display: inline-block;
  padding: 0 15px;
  width: auto;
  min-width: 115px;
  height: 50px;
  color:$koge;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  z-index: 0;
  text-decoration: none;
  font:{
    weight:bold;
  }
  @include base_element;
  /*padding: $smallSkip;*/
  &:before,&:after{
      content: "";
      position: absolute;
      z-index: -1;
      margin-right: 0;
      display: block;
      border-radius: 50%;
     }
    &:before{
      top: -17px;
      left:15px;
      width: 15px;
      height: 15px;
      @include base_element;
    }
    &:after{
      top:-25px;
      left: 25px;
      width: 8px;
      height: 8px;
      @include base_element;
    }
  &:hover{
    font:{
      weight:bold;
    }
    @include hover_design;
    &:before,&:after{
      @include hover_design;
    }
  }
}