$imgWidth:800px;
$imgHeight:600px;
$smallSkip:10px;
$gray:rgba(0, 0, 0, 0.5);
$alphaWhite:rgba(255,255,255,0.6);
$clearColor:rgba(0,0,0,0);
$koge:#564539;
$mFont:'游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'メイリオ', Meiryo, serif;
$titleFont:'Cinzel Decorative', cursive,'游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'メイリオ', Meiryo, serif;

@mixin base_round($radius:15.4px,$vertical:1.4px,$horizontal:7px){
  	-moz-border-radius:$radius;
    -webkit-border-radius:$radius;
    -khtml-border-radius:$radius;
    border-radius:$radius;
    padding:$vertical $horizontal;
}
html {
  height: 100%;
}
body {
	font:{
		family:$mFont;
		weight:normal;
	}
  //font-family: $mFont;
  height: 100%;
  background:{
  	color:black;
  	image:url("../img/mo15.png");
  	repeat:repeat;
  }
  margin:{
  	right:auto;
  	left:auto;
  }
  > #contents{
    /*height:auto;*/
    height: 100%;
    width: $imgWidth;
    /**/
    margin:{
    	right: auto;
    	left:auto;
    }
    padding:{
    	right: 0px;
    	left: 0px;
    }
  }
  #main{
    padding-top: 40px;
    padding-bottom: 30px;
    width: $imgWidth;
    height: $imgHeight;
    background:{
    	image:url("../img/old-pape_L.png");
    	repeat:no-repeat;
    }
    margin: {
    	right: auto;
    	left:auto;
    	bottom: 0px;
    }
    padding: {
    	left:$smallSkip;
    	right: $smallSkip;
    }
    position: relative;
  }
}

#questions {
  width: 700px;
  margin: {
  	right: auto;
  	left:auto;
  }
  padding: {
  	top:0px;
  	left:$smallSkip;
  	right: $smallSkip;
  }
  /*display: none;*/
  #submit{
  	margin: {
  		top:2*$smallSkip;
  	}
  }
  /*font-family: $mainFont;*/
}

#footer {
  color: white;
  text-align: center;
  /*font-family: 'Cinzel Decorative', cursive;*/
}

h1 {
	font: {
		family:$titleFont;
	}
  //font-family: 'Cinzel Decorative', cursive;
  //border:{
  //	bottom:solid 1px $gray;
  //}
  margin: {
  	bottom: 0px;
  }
}
hr.grad{
	margin:0;
	border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
form {
	margin: {
		bottom: 0px;
	}
  padding: 5px;
}
.intro {
  margin: 0;
  .round{
    @include base_round;
    background:{
    	color: $gray;
    }
    font:{
    	size:12.6px;
    	weight:bold;
    }
    color: #fff;
  }
}