@mixin base_button($time:0.5s){
	-webkit-transition:all $time ease;
	transition:all $time ease;
}
@mixin opacity_ctrl($o:80){
	filter:alpha(opacity=$o);
	-ms-filter:'alpha(opacity=#{$o})';
	-moz-opacity:$o/100;
	-khtml-opacity:$o/100;
	opacity:$o/100;
}
@mixin snsbasic($color:#55acee,$path:"../img/sns/TwitterLogo_white.png"){
	border-radius: 10px;
	position: relative;
	background-color: $color;
	margin-left: 50px;
	color: #fff;
	&:hover{
		//background-color: $twitter_black;
		//color: $twitter_black;
		@include opacity_ctrl;
		//border: 1px solid $twitter_black;
	}
	&:before{
		position:absolute;
		background: {
			image:url($path);
		}
		border-radius: 10px 0px 0px 10px;
		content: '';
		width: 50px;
		height: 50px;
		background-color: $color;
		z-index: 1;
		top: 0;
		left: 0px;
	}
}
/*リンクボタンのデザイン*/
/*=================================================*/
.normal_button{
	//display: inline-block;
	cursor: pointer;
	@include base_button(0.3s);
}/*その他ボタン*/
/*=================================================*/
#normalLink{
	height: 50px;
    width: 150px;
    display: table;
    text-align: center;
    //padding:{
    //  left:50px;
    //}
    a{
      display: table-cell;
      vertical-align: middle;
      text-decoration: none;
      //height: 100%;
      //padding: 0 15px;
    }
}
.snsLink{
	//text-align: left;
	padding: {
		left: 50px;
	}
}
/*色分け*/
.normal_color{
	border-radius: 10px;
	background-color: $alphaWhite;
	color: $koge;
	&:hover{
		background-color: $koge;
		color: #fff;
	}
}
.twitter_color{
	//display: inline-block;
	$twitter_blue:#55acee;
	@include snsbasic($twitter_blue);
}
.facebook_color{
	$facebook_blue:#3b5998;
	@include snsbasic($facebook_blue);
}