@mixin base_button($time:0.5s){
	-webkit-transition:all $time ease;
	transition:all $time ease;
}
@mixin opacity_ctrl($o:80){
	filter:alpha(opacity=$o);
	-ms-filter:'alpha(opacity=#{$o})';
	-moz-opacity:$o/100;
	-khtml-opacity:$o/100;
	opacity:$o/100;
}
/*リンクボタンのデザイン*/
/*=================================================*/
.normal_button{
	//display: inline-block;
	border-radius: 10px;
	cursor: pointer;
	@include base_button(0.3s);
}
/*色分け*/
.normal_color{
	background-color: $alphaWhite;
	color: $koge;
	&:hover{
		background-color: $koge;
		color: #fff;
	}
}
.twitter_color{
	$twitter_blue:#55acee;
	$twitter_black:#292f33;
	background-color: $twitter_blue;
	color: #fff;
	&:hover{
		//background-color: $twitter_black;
		//color: $twitter_black;
		@include opacity_ctrl;
		//border: 1px solid $twitter_black;
	}
}
.facebook_color{
	$facebook_blue:#3b5998;
	background-color: $facebook_blue;
	color: #fff;
	&:hover{
		@include opacity_ctrl;
	}
}